#Wrapper{
    height: 100%;
    width: 100%;
    margin: 0 auto;;
}

#Header{
    height: 100%;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.04);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

/******************/
/***    NavBar  ***/
#NavBar{
    height: 75px;
    width: 100%;
    grid-column: 2 /2;
    grid-row: 2 / 2;
    display: flex;
    align-items: center;
/*    -ms-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
}

.navLink{
    flex-direction: row;
    
}

.navButton{
    height: 45px;
    width: 133px;
    border-style: none;
    background-color: rgba(1, 1, 2, 0.058);
}

.button{
    
}

/**************************/
/***    Page Content    ***/
#Content{
    height: 300px;
    width: 100%;
    background: rgba(204, 255, 204, 0.4);
}

/******************/
/***    Footer  ***/
#Footer{
    height: auto;
    width: 100%;
    border-top-style: double;
    border-top-color: gray;
}

#Copyright{
    text-align: center;
}