/**************************************************************************************************/
/**************************************************************************************************/
/***        This document holds the grid layout for the websites home page.                     ***/
/***    *   An element may is called several times in this document.                            ***/
/***    *   Every time an element is called repetevly it's creating a grid on a deeper leve.    ***/
/***    *   The css layout looks like.                                                          ***/
/***    -       1: Comment with grid name.                                                      ***/
/***    -       2: Grid container.                                                              ***/
/***    -       3: Grid items / childern.                                                       ***/
/**************************************************************************************************/
/**************************************************************************************************/

/**********************/
/***    Core Grid   ***/
#Wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;

}

#Top-Container{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

#Middle-Container{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

#Footer{
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}

/****************************/
/***    Top-Container     ***/
#Top-Container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    row-gap: auto;
}

#NavBar{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

/*******************/
/*** NavBar Grid ***/
#NavBar{
    
}

.navLink{

}

/**************************************/
/***    Middle - Container - Grid   ***/
#Middle-Container{
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 1;
}

#Site-Content{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

#Banner-Let{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

#Banner-Right{
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}
/***    Footer  ***/
#Footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

#Copyright{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

/**********************************/
/***    Site-Content - Grid     ***/
#Site-Content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
}

.item > p{
    font-weight: lighter;
}

#item-1{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}
#item-2{
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}
#item-3{
    grid-column: 1 / 1;
    grid-row: 4 / 4; 
}
#item-4{
    grid-column: 1 / 1;
    grid-row: 5 / 5;
}
#item-5{
    grid-column: 1 / 1;
    grid-row: 6 / 6;
}


/***********************/
/***    Footer Grid  ***/
#Footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

#Copyright{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}