/***    This document only give the index pages a decent styling.  ***/
/***    No positionng defined in this document.                    ***/
/***    A Elemnet is only called one in this document ***/

#Wrapper{
    height: 100vh;
    width: 100%;
    margin: 0 auto;;
}

#Top-Container{
    height: 80px;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.06);
    display: grid;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(1, 1, 1, 0.08);
}

/******************/
/***    NavBar  ***/
#NavBar{
    height: 75px;
    width: 100%;
    align-items: center;
/*    -ms-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
}

.navButton{
    height: 55px;
    margin-left: 10px;
    border-style: none;
    background-color: rgba(1, 1, 1, 0.078);
    transition: 1.3s;
}

.navButton > p{
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.32em;
    transition: 1.3s;
}

.button-small{
    width: 140px;
}
.button-wide{
    width: 166px;
}

.button-small:hover{
    width: 166px;
    animation-name: GrowSmallButton;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
}
.button-wide:hover{
    width: 199px;
    animation-name: GrowWideButton;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
}

.navButton:hover{
    background-color: rgba(1, 1, 1, 0.79);
    animation-name: color;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-delay: 0.4s;

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 2);
}

.navButton:hover > p{
    width: 100%;
    font-size: 1.75em;
    color: wheat;
    animation-name: textEffext;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
}

/**************************/
/***    Page Content    ***/
#Middle-Container{
    height: 100%;
    width: 100%;
    background: rgba(204, 255, 204, 0.04);
}

/**********************************/
/***  Main content of the page  ***/
.item{
    min-height: 20px;
    max-height: 50px;
    width: 100%;
}

/******************/
/***    Footer  ***/
#Footer{
    height: 100px;
    width: 100%;
    bottom: 0;
    border-top-style: double;
    border-top-color: gray;
}

#Footer > p{
    height: 100%;
    text-align: center;
}

#Copyright{
    text-align: center;
    font-size: 1.55em;
}


/*** CSS-3 - Animations ***/

@keyframes GrowSmallButton{
    from{
        width: 150px;
    }
    to{
        width: 166px;
    }
}

@keyframes GrowWideButton{
    from{
        width: 166px;
    }
    to{
        width: 199px;
    }
}

@keyframes color{
    from {
        background-color: rgba(1, 1, 1, 0.078);
    }
    to {
        background-color: rgba(1, 1, 1, 0.79);
    }
}

@keyframes textEffext{
    from {
        color: black;
        font-size: 1.32em;
    }
    to {
        color: wheat;
        font-size: 1.75em;
    }
}