body{
    margin: 0px;
    pad: 0px;
    background-image: url("../../images/cover/cover1.jpg");
}

/*******************************************/
/* Default Value For Common Block Elements */
/*******************************************/
div, aside, footer, nav, aside, button{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	left: 0px;
	right: 0px;
	font-family: Roboto;
/*	background-color: rgba(247, 247, 247, 0.5); */
}

p{
	margin: 0px;
	padding: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
}